#main__table{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
}
#main__table table {
    width: 50%;
    height: 400px;
    margin: 50px;
    background-color: #f6f6f6;
    font-size: 25px;
    padding: 20px;
}